  :root {
     --primary-color: #ff0808;
   
}  

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
height: 100%;

}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    place-items: center;
    min-height: auto;
    float: right;
    padding: 2%;
    border-radius: 20px;
}

main {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    background-color: #FFFBEA;
    border:1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #9d3434 100%);
}

.header{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}



.container{
width: 50%;
display: flex;
justify-content: flex-start;

align-items: center;
}

#img_principal {
display: flex;
width: 80%;
height: 90%;
display: flex;
justify-content: center;
background-color: transparent;
margin-top: 10vh;
align-items:end;
margin-left: 20%;
}

#spiderLogin{
    
    padding-bottom: 30%;
    padding-left: 40%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    
}

#logo{
    display: flex;
    width: 60%;
    height: 60%;
    margin-top: 0%;
    margin-left: 15%;

}


#login {
display: flex;
width: 45%;
height: 100%;


}



.form {
    background-color: #112453;
    padding: 15%;
    width: 90%;
    margin-right: 0; 
    margin-left: auto;
    border-radius: 30px 20px 20px 30px;
    box-shadow: -12px 3px 15px 0px rgba(0,0,0,0.75);
}


input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    outline: none;
    color:#ffffff;
}
input::placeholder{
    color: #c57272;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ff0808;
    font-weight: 950;
}

.input-group {
    margin: 2rem 0;

}
.input-group input{
    width: 90%;

background-color: transparent;
border-radius: 15px;
}

.width-50 {
    width: 50%;
}




.text-center {
    text-align: start;
    color: #ff0808;
    margin-top: 0%;
    margin-bottom: 5%;
}

.btn-login {
    width: 30vh;
    margin-top: 20%;
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: -12px 7px 15px 0px rgba(0,0,0,0.75);
}



.btn-login:hover {
    box-shadow: 12px 7px 15px 0px rgba(0,0,0,0.75);
    border: solid 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 15px #571717; 
     border: solid 1px #ff0000; 
     transform: scale(1.1);
    transition: all 1s;
}






#conectado{
    display: flex;
    justify-content: flex-start;

}



input[type="checkbox"]{
    width: 1.5rem;
    

color: #fff;
accent-color: #ff0808;

}
#conectado p{
    margin-left: 3%;
    color: #ff0808;
}

#social{
    margin-top: 10%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 0.5rem;
    color: #135E06;
    font-weight: 950;
}
#social img{
    width: auto;
    height: auto;
}
#forgot{
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
}
#forgot a u{
    color: #ffffff;
    font-weight: 500;
}
.alert {
    padding: 20px;
    background-color: #ff0808; /* Red */
    color: white;
    margin-bottom: 15px;}
