
/* *{
    padding: 0;
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');



body {
  display: block;
height: fit-content;
background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#logo{
    display: inline-block;
    margin-top: auto;
    margin-left: 30%;
    width: 75px;
    height: 100px;
    
    z-index: 999;
}

html{
    scroll-behavior: smooth;
}


.divPai {
  display: flex;
    height:auto;
    width: 100%;
    justify-content: center;
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    background-image: url(./imagens_e_fontes/pai.jpg) ;
    
    
}



.header {
    width: 100%;
    height: 100px;
    background-image: url('../assets/imagens/index/header.png')  ;
    
    display:flex;
    background-repeat: no-repeat;
    justify-content:space-around;
 
    background-position: center top;
    background-size: 100%;
    text-align: center;

}

.containerInicial {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    margin-right: 0%;
    background: url('../assets/imagens/index/bg1.jpg') no-repeat center center;
}







.containerEmpresa {

  background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    width: 100%;
    height: fit-content;
}
#historia{
    display: flex;
    width: 500px;
    height: 500px;
}

.Stan {
  display: flex;
    width: 100%;
    height: 110vh;
   align-items:center;
    margin-right: 0%;
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    justify-content: space-between;
}

.Stan .imagem_texto {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    height: fit-content;
    justify-content: space-evenly;
}

.Stan .titulo {
    display:flex;
    width: 40%;
    padding-top: 0%;
    
    height: fit-content;
    align-items:flex-start;
    justify-content:center;
    margin-bottom: 20px;
    margin-left: 0%;
    font-family: 'Poppins';
}

.Stan .imagem {
    width: fit-content;
    height: fit-content;
}

.Stan .texto {
    width: 500px;
    font-size: 25px;
    font-family: 'Poppins';
    line-height: 50px;
    color: #ffffff;
    padding-bottom: 10%;
}

.response {
    margin: 0px 0px 0px 0px;
    padding-top: 10%;
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    
}

.response .texto {
    width: 60%;
    height: 50vh;
    margin-left: 50px;
}

.response .texto .corpo {
    font-family: 'Poppins';
    font-size: 25px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    width: 90%;
}

.response .imagem {
    width: 45%;
    height: fit-content;
    margin-right: 0px;
    padding-top: 40%;
}






.Poderes {
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding-top: 5%;
    
}



.Quiz {
  background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    width: 100%;
    height: fit-content;
}





.textosInicial {
    width: 500px;
    height: 500px;
    font-family: 'Poppins', monospace;
    margin-top: 230px;
    margin-right: 250px;
    
}

.titulo {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    height: 200px;
    color: #ffffff;
    margin-top: 25%;
    margin-right: 20%;
}

.corpo {
    margin-bottom: 70px;
    font-size: 27px;
    line-height: 50px;
    color: #ffffff;
}

.texto_poderes{
    color: #000000;
    font-size: medium;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/imagens/index/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../assets/imagens/index/Poppins-Bold.ttf);
}

.menu1 {
    margin-right: -80px;
    margin-left: -50px;
}



.menu1 li {
    display: inline-block;
}

.menu1 li a {
    margin: 0 10px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
}

.menu2 li {
    display: inline-block;
}

.menu2 li a {
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins';
    background-color: #071e90;
    padding: 5px 50px;
    border-radius: 40px;
    box-shadow: 3px 4px 4px rgba(81, 81, 81, 0.47);
    transition: 0.2s;
    text-shadow: 0px 4px 4px #5c0707;

}

.menu2 li a:hover {
  background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    color: #dd4242;
}

.botao {
    width: 600px;

}
#tituloPrincipal{
    display: flex;
    width: 70%;
    height: 20%;
    

}

input[type='Submit'] {
    padding: 20px 110px;
    font-size: 30px;
    font-family: 'Poppins-bold';
    border-radius: 40px;
    background-color: #e71818;
    color: #ffffff;
    text-shadow: 0px 4px 4px #e92222;
    box-shadow: 0px 4px 0px #ac1717;
    border: 1px solid #e71818;
    margin-top: -30px;
    cursor: pointer;
    transition: 0.2s;
}

input[type='Submit']:hover {
    background-color: #e71818;
    color: #ffffff;
    border: 1px solid #e71818;
    margin-top: -32px;
}

.empresa {
    display: flex;
    width: 100%;
}

.textosHistoria .corpo {
    margin-left: 100px;
    color: rgb(255, 255, 255);
    line-height: 45px;
    width: 89%;
    margin-top: -60px;
    font-size: 25px;

}

.textosHistoria .titulo {
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 40px;
    line-height: 96px;
    margin-top: 50px;
    margin-left: 172px;
}

.empresa .imagem {
    margin-top: 125px;
    margin-right: 90px;
}
#tituloPrincipal{
    display: flex;
    width: 400px;
    height: auto;
    
}

.Poderes .titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins';
    margin-top: 5px;
    margin-bottom: -30px;
    font-size: 52px;
}



.tiposPoderes {
    display: flex;
    justify-content: space-evenly;
}

.Poder {
    height: 500px;
    width: 350px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px -5%;
   margin-bottom: 10%;

}

.Poder .titulo {
    font-size: 25px;
    font-family: 'Poppins';
    width: 100%;
    color: #e71818;
    margin-top: 30px;
}

.Poder .corpo {
    font-size: 18px;
    line-height: 31.5px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin: -100px 0px;
    
}
.textoPoderes{
    color:#000000
}
#sentido_aranha{
    display: flex;
    width: 140px;
    height: 140px;
    margin-bottom: 40%;
}
#img_escala{
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20%;
}

#forca{
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20%;
}
.Poder .imagem {
    height: 120px;
    width: 350px;
    border-radius: 50px;
    margin-bottom: -50px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem .aquivoImagem {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aranha-verso{
    width: 100%;
    height: 120vh;
    margin-top: 10vh;
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
    padding: 0%;
  }
  h1{
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Odibee Sans', cursive;
    margin-bottom: 0;
  }
  
  #css {
    color: yellow;
    font-family: 'Odibee Sans', cursive;
  }
  #texto_aranha{
    width: 20px;
    height: 20%;
    background-color: #fff;
  }
  
  .carrossel-wrapper {
    height: 85%;
    position: relative;
    width: 90%;
    display: block;
    margin: 50px auto ;
    border: 2px solid black;
  }
  
  .carrossel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../assets/imagens/carrossel/filmes.png');
    background-size: cover;
  }
  
  .item-2 {
    background: url('../assets/imagens/carrossel/scarlet.png');
    background-size: cover;
  }
  .item-3 {
    background: url('../assets/imagens/carrossel/aranha2099.png');
    background-size: cover;
  }

  .item-4 {
    background: url('../assets/imagens/carrossel/miles_morales.png');
    background-size: cover;
  }

  .item-5 {
    background: url('../assets/imagens/carrossel/gwen.png');
    background-size: cover;
  }

  .item-6 {
    background: url('../assets/imagens/carrossel/porco_aranha.png');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  } 
  #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  } 
  #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
    z-index: 3;
    opacity: 1;
  } 

  #item-5:target ~ .item-5, #item-6:target ~ .item-6 {
    z-index: 3;
    opacity: 1;
  } 




.Quiz .titulo {
    width: 100%;
    height: fit-content;
    font-size: 30px;
    font-family: 'Poppins';
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.containersQuiz {
    width: 100%;
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.containersQuiz .imagem {
    width: 30%;
    height: fit-content;
    padding: 10px 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.containersQuiz .texto {
    width: 50%;
    height: auto;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.texto .conteudoTexto {
    font-family: 'Poppins';
    padding: 50px 100px 50px 100px;
    color: #000000;
    font-size: 22px;
    line-height: 48px;
}








.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.item{
    position:absolute;
    width: 70%;
    height: 70%;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}
#next{
    left: unset;
    
}

.hqs{
    width: 90%;
    height: 110vh;
    justify-content: space-around;
    
    padding-top: 0%;
    
    padding-bottom: 10px;
    background: #f1f1ff;
    font-family:Quicksand,sans-serif;
    text-align:center;
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
    background: url(../assets/imagens/index/hqsbg.jpg) no-repeat center center;
  }
  .card {
    display:inline-block;
    justify-content: space-around;
    margin: 1%;
      width: 250px;
      border-radius: 5px;
      background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
      
      color: #ffffff;
      font-size: 20px;
      
     
    
    
  }
  
  .btn {
    margin-top: 25%;
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: -12px 7px 15px 0px rgba(0,0,0,0.75);
     background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
}



.btn:hover {
    box-shadow: 12px 7px 15px 0px rgba(0,0,0,0.75);
    border: solid 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 15px #e00e0e; 
     border: solid 1px #ff0000; 
     transform: scale(1.1);
    transition: all 1s;
}
  
  .modal-label {
      position: relative;
  }
  
  .modal-radio {
      position: absolute;
      visibility: hidden;
      opacity: 0;
  }
  
  .modal {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: 0;
      transform: scale(0);
      transition: opacity .25s, transform .25s;
    z-index:99;
  }
  
  .modal2{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }
  
  .modal3{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }
  
  .modal4{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }
  .modal5{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal6{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal7{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal8{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal9{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal10{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal11{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal12{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }

  .modal13{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
  }
  
  #modal-open:checked + .modal {
      opacity: 1;
      transform: scale(1);
  }
  
  #modal-open2:checked + .modal2{
    opacity: 1;
      transform: scale(1);
  }
  
  #modal-open3:checked + .modal3{
    opacity: 1;
      transform: scale(1);
  }
  
  #modal-open4:checked + .modal4{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open5:checked + .modal5{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open6:checked + .modal6{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open7:checked + .modal7{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open8:checked + .modal8{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open9:checked + .modal9{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open10:checked + .modal10{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open11:checked + .modal11{
    opacity: 1;
    transform: scale(1);
  }

  #modal-open12:checked + .modal12{
    opacity: 1;
    transform: scale(1);
  }


  
  .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
  }
  
  .modal .content {
      position: absolute;
     margin-left: 30vh;
     margin-top: 10vh;
      width: 60%;
      height: 70%;
      border-radius: 15px;
      box-shadow: 0 3px 15px -2px #222;
      padding: 20px;
      background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #020318 100%);
      color: #fff;
  }
  
 
    #imagens_modal{
      display: flex;
      width: 40%;
      height: 40%;
      margin-top: 5%;
    }

    
.footer {
  background-color: #d05a5a;
  width: 100%;
  height: 270px;
}

.footer .principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  height: fit-content;
}

.footer .principal .logo {
  width: fit-content;
  height: auto;
}

.footer .principal .contato {
  width: fit-content;
  height: auto;
  font-family: 'Poppins';
  line-height: 30px;
  text-align: center;
}

.footer .divisor {
  background-color: #c66262;
  height: 3px;
  width: 90%;
  margin-left: 5%;
}

.footer .direitos {
  font-family: 'Poppins';
  color: rgb(255, 255, 255);
  margin: 10px 7%;
}


.footer .principal .contato .telefone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}

.footer .principal .contato .email {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}
