/* *{
    padding: 0;
    margin: 0;
    padding: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#logo{
    display: flex;
    margin-top: auto;
    width: 250px;
    height: 250px;
}

html{
    scroll-behavior: smooth;
}


.divPai {
    height: 100%;
    width: 100%;
    justify-content: center;
    background: linear-gradient(90deg, rgb(15, 20, 75) 0%, #000000 100%);
    background-size: 210vh;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url('./imagens_e_fontes/header.png')  ;
    
    display: flex;
    background-repeat: no-repeat;
    justify-content: space-around;
   
    background-position: center top;
    background-size: 100%;
    text-align: center;

}

.containerInicial {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    margin-right: 0%;
    background: url('./imagens_e_fontes/bg1.jpg') no-repeat center center;
}

.containerEmpresa {

    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #000000 100%);
    width: 100%;
    height: fit-content;
}
#historia{
    display: flex;
    width: 500px;
    height: 500px;
}

.diagrama {
    width: 100%;
    height: fit-content;
    padding-top: 5%;
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
}

.diagrama .imagem_texto {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
}

.diagrama .titulo {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 50px;
    margin-left: 16%;
    font-family: 'Poppins';
}

.diagrama .imagem {
    width: fit-content;
    height: fit-content;
}

.diagrama .texto {
    width: 500px;
    font-size: 25px;
    font-family: 'Poppins';
    line-height: 50px;
    color: #ffffff;
}

.dashboard {
    margin: 0px 0px 0px 0px;
    padding-top: 10%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #000000 100%);
}

.dashboard .texto {
    width: 50%;
    height: fit-content;
    margin-left: 130px;
}

.dashboard .texto .corpo {
    font-family: 'Poppins';
    font-size: 30px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    width: 80%;
}

.dashboard .imagem {
    width: 50%;
    height: fit-content;
    margin-right: 0px;
}

.dashboard .botao {
    width: 500px;
    height: 50px;
}




.sensores {
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding-top: 5%;
    
}

.sobreNos {
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #000000 100%);
    width: 100%;
    height: fit-content;
}



.divisao01 {
    background-image: url('./imagens_e_fontes/divisao01.png');
    height: 246px;
    width: 100%;
    background: linear-gradient(90deg, rgb(113, 7, 7) 0%, #000000 100%);
    background-position: center top;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

.textosInicial {
    width: 600px;
    height: 500px;
    font-family: 'Poppins', monospace;
    margin-top: 250px;
    margin-left: 80px;
    
}

.titulo {
    width: 130%;
    font-size: 52px;
    line-height: 30px;
    height: 200px;
    color: #ffffff;
    margin-top: 25%;
    margin-right: 20%;
}

.corpo {
    margin-bottom: 70px;
    font-size: 27px;
    line-height: 50px;
    color: #ffffff;
}

.texto_poderes{
    color: #ffffff;
    font-size: medium;
}

@font-face {
    font-family: Poppins;
    src: url(./imagens_e_fontes/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./imagens_e_fontes/Poppins-Bold.ttf);
}

.menu1 {
    margin-right: -130px;
    margin-left: -50px;
}

.menu2 {
    margin-right: -50px;
}

.menu1 li {
    display: inline-block;
}

.menu1 li a {
    margin: 0 10px;
    font-size: 26px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
}

.menu2 li {
    display: inline-block;
}

.menu2 li a {
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins';
    background-color: #071e90;
    padding: 5px 50px;
    border-radius: 40px;
    box-shadow: 3px 4px 4px rgba(81, 81, 81, 0.47);
    transition: 0.2s;
    text-shadow: 0px 4px 4px #5c0707;

}

.menu2 li a:hover {
    background: linear-gradient(90deg, rgb(15, 18, 66) 0%, #000000 100%);
    color: #dd4242;
}

.botao {
    width: 600px;

}

input[type='Submit'] {
    padding: 20px 110px;
    font-size: 30px;
    font-family: 'Poppins-bold';
    border-radius: 40px;
    background-color: #e71818;
    color: #ffffff;
    text-shadow: 0px 4px 4px #e92222;
    box-shadow: 0px 4px 0px #ac1717;
    border: 1px solid #e71818;
    margin-top: -30px;
    cursor: pointer;
    transition: 0.2s;
}

input[type='Submit']:hover {
    background-color: #e71818;
    color: #ffffff;
    border: 1px solid #e71818;
    margin-top: -32px;
}

.empresa {
    display: flex;
    width: 100%;
}

.textosEmpresa .corpo {
    margin-left: 100px;
    color: rgb(255, 255, 255);
    line-height: 45px;
    width: 89%;
    margin-top: -60px;
    font-size: 25px;

}

.textosEmpresa .titulo {
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 52px;
    line-height: 96px;
    margin-top: 50px;
    margin-left: 172px;
}

.empresa .imagem {
    margin-top: 125px;
    margin-right: 90px;
}

.sensores .titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins';
    margin-top: 5px;
    margin-bottom: -30px;
    font-size: 52px;
}

.tiposSensores {
    display: flex;
    justify-content: space-evenly;
}

.sensor {
    height: 500px;
    width: 350px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px -5%;

}

.sensor .titulo {
    font-size: 25px;
    font-family: 'Poppins';
    width: 100%;
    color: #e71818;
    margin-top: 30px;
}

.sensor .corpo {
    font-size: 18px;
    line-height: 31.5px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin: -100px 0px;
    
}
#sentido_aranha{
    display: flex;
    width: 140px;
    height: 140px;
    margin-bottom: 40%;
}
#img_escala{
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20%;
}

#forca{
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20%;
}
.sensor .imagem {
    height: 120px;
    width: 350px;
    border-radius: 50px;
    margin-bottom: -50px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem .aquivoImagem {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreNos .titulo {
    width: 100%;
    height: fit-content;
    font-size: 30px;
    font-family: 'Poppins';
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.containersSobreNos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.containersSobreNos .imagem {
    width: 30%;
    height: fit-content;
    padding: 10px 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.containersSobreNos .texto {
    width: 50%;
    height: auto;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.texto .conteudoTexto {
    font-family: 'Poppins';
    padding: 50px 100px 50px 100px;
    color: #ffffff;
    font-size: 22px;
    line-height: 48px;
}
.laranja{
    color: #e71818;
}
.verde{
    color: #ffffff;
}

.footer {
    background-color: #d05a5a;
    width: 100%;
    height: 270px;
}

.footer .principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    height: fit-content;
}

.footer .principal .logo {
    width: fit-content;
    height: auto;
}

.footer .principal .contato {
    width: fit-content;
    height: auto;
    font-family: 'Poppins';
    line-height: 30px;
    text-align: center;
}

.footer .divisor {
    background-color: #c66262;
    height: 3px;
    width: 90%;
    margin-left: 5%;
}

.footer .direitos {
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    margin: 10px 7%;
}


.footer .principal .contato .telefone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.footer .principal .contato .email {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}